.sidebar {
    @apply h-screen w-[72px] overflow-hidden bg-black md:z-50 whitespace-nowrap;
    transition: width 150ms ease-in-out;
  
    &:hover, &.sidebar-expanded {
      @apply w-[280px] overflow-visible z-[100];
    }
  
    /* Wrapper */
    & + .wrapper {
      transition: all 150ms ease-in-out;
      width: calc(100% - 72px);
      left: 72px;
    }
  
    &.sidebar-expanded + .wrapper{
      width: calc(100% - 280px);
      left: 280px;
    }
  
    ul {
      @apply overflow-hidden;
    }
  
    /* List item */
    li {
      @apply mx-2.5 flex h-9 items-center rounded-md text-gray-200 hover:bg-stone-800;
      &.active {
        @apply bg-orange-600 hover:bg-orange-500;
      }
    }
  
    &:not(:hover, .sidebar-expanded) {
      li {
        @apply w-9 justify-center;
      }
  
      .sidebar-text {
        @apply hidden;
      }
    }
  
  }